@import "./utils/variables";

.rest-container{
    background-color: $color-primary;
        p{
            font-size: large;
            color: aqua
    }
};

body{
    background-color: $color-primary;
}