.commander{
    p{
        background-color: $color-secondary;
        padding: 15px;
        padding-left: 40px;
        padding-right: 40px;
        border-radius: 30px;
        color: white;
    }
}

.operations-button{
    background-color: #F6F6F6;
    border-radius: 30px;
    width: 350px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position:relative;
    .button-number{
        background-color: $color-primary;
        padding: 4px 9px;
        border-radius: 20px;
        position: absolute;
        left: -10px;
        color: white;
    }
    i{
        color: gray;
        position: absolute;
        left: 48px;
        font-size: 1.3rem;
    }
}