.menus{
    width: 100%;
    background-color: #F6F6F6;
    .menus-titre{
        padding-left: 25px;
        font-weight: lighter;
    }
    .menus-container{
        background-color: white;
        margin: 20px;
        border-radius: 20px;
        position: relative;
        height: 75px;
        //animation: appear 20s;//
        transition: transform 400ms;
        

        &:hover .fa-check-circle{
            transition: transform 800ms, opacity 100ms;
            display: flex;
            opacity: 1;
            color: $color-tertiary;
            transform: rotate(1turn);
        }
        
        .menus-nom{
            margin: 0px;
            font-size: 1.2rem;
            position: absolute;
            left: 18px;
            top: 11px;
        }
        .menus-complement{
            font-weight: lighter;
            margin: 0px;
            position: absolute;
            bottom: 16px;
            left: 18px;
        }
        .menu-prix{
            margin: 0px;
            position: absolute;
            right: 25px;
            bottom: 15px;
        }
        i{
            position: absolute;
            right: 60px;
            bottom: 22px;
            font-size: 2rem;
            display: flex;
            transition-property: transform;
            transition: all 2s;
            opacity: 0;
        }
    }
}

#entrees{
    animation: appear 2s forwards;
    animation-delay: .5s;
    opacity: 0;
    top: 30px;
}

#plats{
    animation: appear 2s forwards;
    animation-delay: 1s;
    opacity: 0;
    top: 30px;
}

#desserts{
    animation: appear 2s forwards;
    animation-delay: 1.5s;
    opacity: 0;
    top: 30px;
}