.menus{
    width: 100%;
    background-color: #F6F6F6;
    .menus-titre{
        padding-bottom: 7px;
        font-weight: lighter;
        width: 45px;
        margin-left: 22px;
        border-bottom: solid 4px #99E2D0;
    }
    .menus-container{
        background-color: white;
        margin: 20px;
        border-radius: 20px;
        position: relative;
        height: 75px;
        display: flex;
        overflow: hidden;
        transition: transform 400ms;

        &:hover .fa-check-circle{
            transition: transform 1000ms, opacity 100ms;
            transition-delay: .1s;
            display: flex;
            opacity: 1;
            color: white;
            transform: rotate(1turn);
        }
        
        .menus-nom{
            margin: 0px;
            font-size: 1.2rem;
            position: absolute;
            left: 18px;
            top: 11px;
        }
        .menus-complement{
            font-weight: lighter;
            margin: 0px;
            position: absolute;
            bottom: 16px;
            left: 18px;
        }
        .menu-prix{
            margin: 0px;
            display: flex;
            align-items: center;
            flex-direction: row;
            width: 100%;
            justify-content: flex-end;
            padding-right: 30px;
        }
        i{
            right: 60px;
            bottom: 22px;
            font-size: 2rem;
            display: flex;
            transition-property: transform;
            transition: all 2s;
            opacity: 0;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
    }
}

#entrees{
    animation: appear 2s forwards;
    animation-delay: .5s;
    opacity: 0;
    top: 30px;
}

#plats{
    animation: appear 2s forwards;
    animation-delay: 1s;
    opacity: 0;
    top: 30px;
}

#desserts{
    animation: appear 2s forwards;
    animation-delay: 1.5s;
    opacity: 0;
    top: 30px;
}

.white{
    height: 100%;
    width: 100%;
    display: flex;
}

.green{
background-color: $color-tertiary;
height: 100%;
width: 20%;
margin-right: -191px;
display: flex;
}

.white:hover + .green{
    
    transition: linear .8s;
    margin-right: 0px;
} 