.presentation{
    width: 100%;
    #img-restaurant1{
        background-image: url(images/restaurants/la_palette_du_gout.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    #img-restaurant2{
        background-image: url(images/restaurants/la_note_enchantee.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    #img-restaurant3{
        background-image: url(images/restaurants/a_la_francaise.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    #img-restaurant4{
        background-image: url(images/restaurants/le_delice_des_sens.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .size-img{
        height: 350px;
        width: 100%;
        position: relative;
        i{
            position: absolute;
            right: 50px;
            bottom: 10px;
            font-size: 2rem;
        }
    }
}

.nom-restaurant{
    background-color: #F6F6F6;
    position: absolute;
    bottom: -2px;
    margin: 0px;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding-top: 20px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    font-size: 2rem;
    padding-left: 28px;
}



