body{
    @include flexstyle;
    font-family: 'Roboto', sans-serif;
}

@keyframes appear {
    0% {opacity: 0;}
    25% {opacity: 25;}
    50% {opacity: 50;}
    75% {opacity: 75;}
    100% {opacity: 100;}
}

@keyframes heartpaint{
    0% {color: #F6F6F6;}
    10% {color: $color-primary;}
    100%{color: $color-primary;}
}


