#location{
    display: flex;
    flex-direction: row;
    background-color: #EAEAEA;
    width: 100%;
    justify-content: center;
    box-shadow: inset 0px 3px 3px 0px #cfcac8;
    p{
        padding-left: 15px;
    }
}

#location-logo{
    padding-top: 16px;
}

#reservation{
    @include flexstyle;
    width: 100%;
}

#reserve{
    @include flexstyle;
    background-color: #f6f6f6;
    width: 100%;
    padding-bottom: 50px;
}

#txt1{
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    width: 29%;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0px;
    text-align: center;
}

#txt2{
    text-align: center;
    font-weight: lighter;
    font-size: 1.2rem;
    flex-wrap: wrap;
    width: 48%;
}

#txt3{
    color: white;
    padding: 18px;
    border-radius: 30px;
    font-size: 1rem;
    border: none;
}

#operations{
    @include flexstyle;
    margin-bottom: 50px;
    margin-top: 30px;
    h3{
        width: 100%;
        font-size: 1.5rem;
    }
}

#restaurants{
    @include flexstyle;
    background-color: #f6f6f6;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 100px;
    position: relative;
    #rest-title{
        position: absolute;
        top: 25px;
        font-size: 1.5rem;
        width: 80%;
    }
}

.rest-container{
    background-color: white;
    border-radius: 20px;
    margin-bottom: 15px;
    width: 80%;
    position: relative;
    a{
        color: black;
        text-decoration: none;
        #rest1-img{
            position: relative;
            background-image: url(images/restaurants/la_palette_du_gout.jpg);
            @include rest-properties;
                .button-new{
                    position: absolute;
                    right: 30px;
                    top: 30px;
                    background-color: #99E2d0;
                    color: green;
                    padding: 12px;
                    border-radius: 5px;
                    padding-left: 15px;
                    padding-right: 15px;
                    font-size: 1.5rem;
                }
            }
        #rest2-img{
            position: relative;
            background-image: url(images/restaurants/la_note_enchantee.jpg);
            background-position-y: -138px;
            @include rest-properties;
                .button-new{
                    position: absolute;
                    right: 30px;
                    top: 30px;
                    background-color: #99E2d0;
                    color: green;
                    padding: 12px;
                    border-radius: 5px;
                    padding-left: 15px;
                    padding-right: 15px;
                    font-size: 1.5rem;
                }
                }
        #rest3-img{
            background-image: url(images/restaurants/a_la_francaise.jpg);
            @include rest-properties;
                    }
        #rest4-img{
            background-image: url(images/restaurants/le_delice_des_sens.jpg);
            @include rest-properties;
                        }
        h3{
            margin-bottom: 0;
            font-weight: bold;
            padding-left: 12px;
        }
        p{
            margin-top: 0px;
            padding-left: 12px;
        }
        i{
            position: absolute;
            right: 20px;
            font-size: 2rem;
            bottom: 20px;
        }
    }
    
}

#loader-spinner{
    width: 100%;
    height: 2000px;
    background-color: white;
    animation: hide 1.5s;
    animation-fill-mode: forwards;
}

.loader-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    animation: hide-loader-wrapper 1.5s;
    animation-fill-mode: forwards;
    .fa-utensils{
        color: grey;
        position: absolute;
        font-size: 4rem;
        left: -62px;
        top: 26px;
    }
    .loader{
        width: 100px;
        height: 100px;
        background-color: $color-secondary;
        border: solid 10px $color-primary;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 66px;
        position: absolute;
        top: 200px;
        .loader-center{
            background-color: $color-tertiary;
            width: 50px;
            height: 50px;
            animation: load 3s linear; 
            animation-fill-mode: forwards;  
            border-radius: 10px; 
            i{
                display: flex;
                justify-content: center;
                font-size: 2rem;
                padding-top: 8px;
                color: $color-primary;
            }
        }
    
    }
    .fa-glass-martini-alt{
        color: orange;
        position: absolute;
        font-size: 4rem;
        right: -70px;
        top: 27px;
    }


}
