.anim-appear-entrees{
    animation: appear 2s forwards;
    animation-delay: .2s;
    opacity: 0;
    top: 30px;
}

.anim-appear-plats{
    animation: appear 2s forwards;
    animation-delay: .7s;
    opacity: 0;
    top: 30px;
}

.anim-appear-desserts{
    animation: appear 2s forwards;
    animation-delay: 1.2s;
    opacity: 0;
    top: 30px;
}