@mixin flexstyle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin rest-properties {
  background-size: cover;
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-position: center;
}